<div id="container">
    <div class="section" id="info">
    <h1>Restauracja Pod Kamieniem</h1>
    <h2>U nas zasmakujesz niesamowitych potraw, wypijesz wspaniałe napoje <br> oraz spędzisz wspaniały czas wśród rodziny i przyjaciół</h2>
    <div id="contact">
        <h3>Dane kontaktowe:</h3>
        <div id="list">
            <div>Telefon: 888-444-222</div>
            <div>Adres mailowy: <p>restpoddebem@gmail.com</p> lub <p>podDebem@gmail.com</p></div>
            <div>Adres: <span>Kraków</span>, ulica <span>Zaciszna 35/2</span></div>
            <div>Godziny otwarcia: <p>Dni tygodnia: od 10:00 do 21:00</p><p>Weekendy: od 9:00 do 23:00</p></div>
        </div>
    </div>
    </div>
    <div class="section" id="map">
        <h3>Lokalizacja:</h3>
        <picture>
            <source media="(max-width: 600px)" srcset="../../../../assets/images/mapalow.jpg">
            <img src="../../../../assets/images/mapamed.jpg">
        </picture>
    </div>
</div>

