#dishesContainer{
    max-width: 1200px;
    width: 100vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.isMax {
    border: 2px solid green;
    box-shadow: green;
}

.isMin {
    border: 2px solid red;
    box-shadow: red;
}


#buttonWrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 0;
}

#removeDishButton {
  width: 50%;
  padding: 5px;
  margin-top: 4px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: darkred;
  cursor: pointer;
}


#removeDishButton:hover {
  background-color: red;
}
