<div id="header">
    <div id="restName">Pod Kamieniem</div>
</div>
<div id="navbar">
    <div id="mainView" class="borderclass hoverclass" routerLink="/home" routerLinkActive="active">Główna</div>
    <div id="addFilterMenu" class="borderclass hoverclass" routerLink="/menu" routerLinkActive="active">Menu</div>
  <div  *ngIf="!authService.userDetails"
    routerLink="/sign-in" class="borderclass hoverclass" routerLinkActive="active">Zaloguj się</div>
  <div  *ngIf="!authService.userDetails"
    routerLink="/register-user" class="borderclass hoverclass" routerLinkActive="active">Zarejestruj się</div>
  <div *ngIf="authService.userDetails" class="borderclass" [ngStyle]="{'color': 'steelblue'}">{{authService.userDetails.displayName}}</div>
  <div *ngIf="authService.userDetails"
    class="borderclass hoverclass" routerLinkActive="active" (click)="authService.SignOut()"
  >Wyloguj się</div>
  <div *ngIf="authService.userDetails" id="orderhist" class="hoverclass" routerLink="/order-hist" routerLinkActive="active">Historia</div>
    <div id="currency" class="borderclass">
      <p>Waluta &nbsp;</p>
      <button id="euro"
              [ngStyle]="{'background-color': curAndShopList.currentCurrency === 'euro' ? 'grey':'white'}"
              (click)="setCurrency('euro')">€</button>
      <button id="usd"
              [ngStyle]="{'background-color': curAndShopList.currentCurrency === 'usd' ? 'grey':'white'}"
              (click)="setCurrency('usd')">$</button>
    </div>
    <div id="details"
    *ngIf="this.authService.userDetails"
    [ngStyle]="{'background-color': curAndShopList.numOfOrders > 10? 'blue':'orange'}">
        <span>Zamówionych: {{curAndShopList.numOfOrders}}</span>
        <div id="quantity"></div>
    </div>
    <div id="shopListButton" routerLink="/shop-list" class="hoverclass" routerLinkActive="active"
    *ngIf="this.authService.userDetails"
    ><img src="https://drive.google.com/uc?export=view&id=1KexHSrvrEX1Mkrnc36bpc0czlOWpG8fr" alt="shoppingcart"
          id="shoppingCart"></div>
</div>
<div id="hiddenTools" *ngIf="
this.authService.userDetails && this.authService.checkIfHasRole(this.authService.userDetails.uid, ['Admin', 'Manager'])">
  <div id="managerView" class="borderclass hoverclass" routerLink="manager-view" routerLinkActive="active" >Manager dań</div>
  <div *ngIf="this.authService.checkIfHasRole(this.authService.userDetails.uid, ['Admin'])"
       id="adminView" class="borderclass hoverclass" routerLink="admin-view" routerLinkActive="active">Narzędzia admina
  </div>
</div>
<router-outlet></router-outlet>


