#container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 1200px;
  width: 90vw;
  margin: 10px auto auto;
  padding: 10px 10px;
  background-color: rgb(51, 57, 63);
  border: 2px solid orange;
}

h3 {
  color: white;
  font-size: 30px;
  margin: auto;
}

.singleOrder {
  display: flex;
  background-color: orange;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
}

.dishItem {
  font-size: 22px;
}

.dateSection {
  margin-left: auto;
}
